// COLORS - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

$yellow: #f5d520;
$orange: #fc9d28;
$anthracite: #121211;
$gray: #b0afaf;
$white: #fffcfc;
$black: #050505;
$transparent: transparent;

// LAYOUT - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
$breakpoint-mobile: 768px;
$content-max-width: 980px;
$content-min-width: 320px;


